#server:
#  port: 8761
#
#eureka:
#  instance:
#    hostname: localhost
#  client:
#    registerWithEureka: false
#    fetchRegistry: false
#  server:
#    waitTimeInMsWhenSyncEmpty: 0
#
#spring:
#  application:
#    name: eureka-server
server:
  address: 0.0.0.0

spring:
  application:
    name: eureka-server

  config:
    import: optional:configserver:http://config-server:8888

  cloud:
    config:
      uri: http://config-server:8888

eureka:
  instance:
    hostname: eureka-server
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka